<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <a class="navbar-brand icon-link" routerLink="/">
            <fa-icon [icon]="faBlog"></fa-icon>
            Bloggify</a>
        <ul class="navbar-nav">
            @if(!loggedIn){
            <li class="nav-item icon-link">
                <a class="nav-link active " aria-current="page" routerLink="/login">Login</a>
            </li>
            <li class="nav-item icon-link">
                <a class="nav-link active " aria-current="page" routerLink="/signup">Sign Up</a>
            </li>
            }@else {
            <li class="nav-item icon-link">
                <a class="nav-link active" aria-current="page" routerLink="/article/new">Create Post</a>
            </li>

            <app-user-layout />
            }
        </ul>
    </div>
</nav>