<div class="row">
    <div class="col-lg-9">
        @switch (status) {
        @case ('success') {
        <main class="bg-white border border-2 border-primary rounded py-3 px-4">
            <div class="d-flex align-items-center">
                <app-article-info class="flex-grow-1" [author]="article.author" [publishedAt]="article.publishedAt" />
                @if (isOwnedByLoggedInUser) {
                <div class="d-flex gap-2">
                    <app-publish-button [id]="article.id" [published]="!!article.publishedAt"
                        (togglePublish)="onTogglePublish($event)"></app-publish-button>
                    <a class="btn btn-warning"
                        [routerLink]="'/'+article.author.handle+'/'+article.slug+'/edit'">Edit</a>
                </div>
                }
            </div>
            <h1 class="text-capitalize">
                <div>{{article.title}}</div>
            </h1>
            <div [innerHTML]="articleContent"></div>
        </main>
        }
        @case ('fail') {
        <app-alert variantStyle="danger">{{message}}</app-alert>
        }
        @default {
        <app-spinner size="regular"></app-spinner>
        }}
    </div>
    <div class="col-lg-3">
        <app-side-articles />
    </div>
</div>